/* CSS för landingpage */

.mainheader {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 70vh;
}

.logo {
    display: flex; 
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-bottom: 20px; 
}

.headerbox {
    background-color: rgba(255, 250, 250, 0.9);
    height: 25rem;
    min-height: 25rem;
    width: 70rem;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
}

.headerbox input[type=text] {
    padding: 10px;
    margin-top: 8px;
    font-size: 20px;
    border: none;
    font-family: 'Times New Roman';
    height: 20px;
    align-self: center;
    background: snow;
  }

  .searchbar{
    transition: transform 0.5s ease-in-out;
  }

  .searchbar:hover{
    transform: scale(1.1);
  }

 .searchbar button {
    float: right;
    height: 40px;
    width: 40px;
    margin-top: 8px;
    background-color: lightgray;
    font-size: 20px;
    border: none;
    cursor: pointer;
  } 

  .searchbar button:hover {
    background-color: gray;
  }

 .mainmain {
    background-color: rgba(255, 250, 250, 0.9);
    height: 100vh; 
    margin-bottom: 20px;
 }

 .cardsgroup1 {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 30px;
 }

 .cardsgroup2 {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px;
 }

 .cards {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    justify-content: space-evenly;
    transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
 }
  
 .cards:hover {
    transform: scale(1.1);
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
 }
 

 .container {
    position: absolute;
    top: 85%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
    color: white ; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
    font-size: 2vh;
 }

 .container h1 {
    margin-bottom: 5px;
 }

 .container h2 {
    margin-top: 5px;
    font-size: 20px;
 }


/* CSS för landinpage */

/* --------------------------------------------------------------------------------------------------- */

/* CSS för About us */

 .aboutbody {
    margin: 0;
 }

 .aboutmain {
    background-color: snow;
    height: 75vh; 
    width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
 }

 .aboutmainrubrik {
    display: flex;
    border-bottom: 2px solid #3498db ;
    justify-content: center;

 }


/* CSS för About us */

/* --------------------------------------------------------------------------------------------------- */

/* CSS för Pris page */
 .prisbody {
    margin: 0;
 }

 .prismain {
    background-color: rgba(255, 250, 250, 0.9);
    height: 100vh; 
 }

/* CSS för Pris page */

/* --------------------------------------------------------------------------------------------------- */

/* Gennerell CSS */


body {
    background-color: #3498db;
    margin: 0;
    opacity: 0.9;
}

 nav {
    background-color: #2b6992b8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    height: 10vh;
 }

 .btn{
    text-decoration: none;
    color: #F0EAD6;
    padding: 2.5px 5px;
    border-radius: 10px;
    border: 2.5px solid #F0EAD6;
    transition: transform 0.5s ease-in-out;
    font-family: 'Times New Roman';
    
 }

 .btn:hover {
    transform: scale(1.1);
    background-color: #3498db;
    text-decoration: underline;
 }

 footer {
    background-color: #3498db;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .footertext1 {
    background-color: snow;
    display: flex;
    height: 50px;
    width: 40%;
    border-radius: 30px;
    font-size: 20px;
    align-items: center;
    margin-bottom: 30px;
    align-content: center;
    justify-content: center;
    
 }

 .footericon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
 }

 .footericonbutton {
    float: right;
    height: 50px;
    width: 50px;
    margin-top: 8px;
    background-color: snow;
    border-radius: 25px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    margin-right: 25px;
    transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
 }

 .footericonbutton:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
    border: 2px solid black;

 }

 #background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bakgrund1.jpg);
    background-size: cover;
    background-position: bottom right;
    background-attachment: fixed;
    opacity: 0.8; 
 }


/* Gennerell CSS */
